* {
    margin: 0;
    color: white;

}

#screen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;

}

.controle {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.802);
    padding: 40px;
    border-radius: 8px;
}

.titulo {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.controle label {
    margin: 10px 0 10px 0;
    text-transform: uppercase;
}

.color-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.color {
    border: none;
    outline: none;
}

.elemento-propiedades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: rgba(0, 0, 0, 0.802);
    padding: 20px; */
    border-radius: 4px;
    position: relative;
}

.elemento {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 29, 29);
    border: 10px solid black;
    width: 150px;
    height: 150px;


}

.propiedades {
    display: inline-block;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(163, 162, 162, 0.932);
    border: none;
    line-height: 75px;
    text-align: center;
    font-size: 13px;
    resize: none;
    overflow-y: hidden;

}

#btn-copiar {
    width: 40px;
    height: 40px;
    background: url(./images/colar.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    opacity: 1;
    filter: brightness(1);
}

#btn-copiar:hover {
    transform: scale(1.02);
    filter: brightness(1.40);
}

#btn-copiar:active {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
}

@media screen and (max-width:713px) {

    #screen {
        display: flex;
        flex-direction: column;
        height: 130vh;
        overflow-x: hidden;

    }

    .color-container {
        position: absolute;
        top: 50px;
        gap: 220px;
    }

    .color {
        width: 40px;
    }

}

@media screen and (max-height:600px) {
    .propiedades {
        line-height: 70px;
    }
}